---
import type { Section } from "../../models/Models.ts";
import HeroImage from "../HeroImage.astro";
import SocialMediaBar from "../SocialMediaBar.astro";

interface Props {
  section: Section;
}

const { section } = Astro.props;
---

<section class="bg-body mt-0 py-0" id="header">
    <HeroImage backgroundImage={section.backgroundImage?.url} height="120vh" shape="polygon(100% 0%, 0% 0% , 0.00% 100.00%, 2.00% 99.98%, 4.00% 99.91%, 6.00% 99.79%, 8.00% 99.62%, 10.00% 99.41%, 12.00% 99.16%, 14.00% 98.87%, 16.00% 98.53%, 18.00% 98.15%, 20.00% 97.74%, 22.00% 97.29%, 24.00% 96.82%, 26.00% 96.31%, 28.00% 95.77%, 30.00% 95.21%, 32.00% 94.64%, 34.00% 94.04%, 36.00% 93.43%, 38.00% 92.81%, 40.00% 92.19%, 42.00% 91.56%, 44.00% 90.93%, 46.00% 90.31%, 48.00% 89.70%, 50.00% 89.09%, 52.00% 88.50%, 54.00% 87.93%, 56.00% 87.38%, 58.00% 86.85%, 60.00% 86.35%, 62.00% 85.89%, 64.00% 85.45%, 66.00% 85.05%, 68.00% 84.69%, 70.00% 84.36%, 72.00% 84.08%, 74.00% 83.84%, 76.00% 83.65%, 78.00% 83.50%, 80.00% 83.40%, 82.00% 83.34%, 84.00% 83.34%, 86.00% 83.38%, 88.00% 83.46%, 90.00% 83.60%, 92.00% 83.77%, 94.00% 84.00%, 96.00% 84.27%, 98.00% 84.58%, 100.00% 84.92%);"> 
      <div class="col-lg-6 d-flex flex-column h-100 justify-content-evenly m-auto py-5">
        <div>
          <div class="hero-title display-1 fw-bold text-center">{section.subtitle}</div>
          <div class="fs-5 text-light text-center my-4 my-lg-0 text-opacity-75 fw-medium">
            <div set:html={section.description?.html} />
        </div>
        </div>
        <SocialMediaBar />
      </div>
    </HeroImage>
</section>
