---
import CleanLayout from "../layouts/CleanLayout.astro";
---

<CleanLayout title="Siden findes ikke">
  <div
    class="bg-body-secondary d-flex flex-column align-items-center justify-content-center gap-2 vh-100 vw-100">
    <h1 class="fw-bold mb-0" >404</h1>
    <span class="fs-5 text-body-secondary">The page doesn't exist</span>
    <a type="button" role="button" href="/" class="btn btn-outline-dark mt-2">Go to website</a>
  </div>
</CleanLayout>